/* override defaults here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #a2a8aa;
    color: #333;
    line-height: 1.6;
    font-family:  'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    background: #6a6a6b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    background: #6a6a6b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

